<p>
  deals works!
</p>


<table class ="deals_table">

  <tr *ngFor="let deal of deals; let i=index" >

    <td>{{i+1}}</td>  <td>{{deal.offer}}</td>
  </tr>


</table>

<div id="postReq">

  <p>Offer: </p> <input type = "text">
  <p>Name: </p> <input type = "text" >
  <p>Addresss: </p> <input type = "text">
  <p>Day: </p> <input type = "text">
  <p>Time: </p> <input type = "text">
  <p>Description: </p> <input type = "text">
  <p>Deliver: </p>  <input type = "text">
  <p>Link: </p> <input type = "text">
  <p>Recurring: </p> <input type = "text">


  <button (click)='postDeal()'> POST </button>

</div>