
<button (click)='redirect();' class="redirectbutton"> POST DEAL </button>

<div id = "background">
  </div>

<table class ="deals_table">
   
    
      <tbody>

  <tr id="dealListing" *ngFor="let deal of deals; let i=index" >

    

    <div class = "dealRow" (click)="moveToDetails($event, deal._id)"><td class="dealNo" width="1%" >{{i+1}}</td>  <td class="dealOffer" width=10% >{{deal.offer}}</td> <td class="dealDay" width="10%">{{deal.details.day}}</td> <td class = "dealRest" width="15%"> {{deal.details.name}}</td> <td class="dealDeli" width="5%">  {{deal.details.deliver}} </td> </div>
  </tr>
</tbody>

</table>


<div id = "dropdownAndTags">
  <div class="dropdown">
    <button (click)="myFunction()" id="dropbtn">Categories</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
        <p id="a0" (click)="setTag('any')">Clear</p>
        <p id="a1" (click)="setTag('Alcohol')">Alcohol</p>
        <p id="a2" (click)="setTag('Burgers')">Burgers</p>
        <p id="a3" (click)="setTag('Pizza')">Pizza</p>
        <p id="a4" (click)="setTag('Sushi')">Sushi</p>
        <p id="a5" (click)="setTag('Mexican')">Mexican</p>
        <p id="a6" (click)="setTag('Chinese')">Chinese</p>
        <p id="a7" (click)="setTag('Indian')">Indian</p>
        <p id="a8" (click)="setTag('Japanese')">Japanese</p>
        <p id="a9" (click)="setTag('Wings')">Wings</p>
        <p id="a10" (click)="setTag('Shakes')">Shakes</p>
        <p id="a11" (click)="setTag('Sandwiches')">Sandwiches</p>
        <p id="a12" (click)="setTag('American')">American</p>
        <p id="a13" (click)="setTag('Salad')">Salad</p>
        <p id="a14" (click)="setTag('Italian')">Italian</p>
        <p id="a15" (click)="setTag('Calzones')">Calzones</p>
        <p id="a16" (click)="setTag('Dessert')">Dessert</p>
        <p id="a17" (click)="setTag('Pasta')">Pasta</p>
        <p id="a18" (click)="setTag('Other')">Other</p>
       </div>
  </div>
</div>

<div id = "dropdayContainer">
  <div class="dropdayClass">
    <button (click)="myFunction2()" id="dropdayButton">Day</button>
      <div id="dropday" class="dropday-content">
        <input type="text" placeholder="Search.." id="dayInput" (keyup)="filterFunction()">
        <p id="b0" (click)="setDay('any')">Clear</p>
        <p id="b1" (click)="setDay('monday')">Monday</p>
        <p id="b2" (click)="setDay('tuesday')">Tuesday</p>
        <p id="b3" (click)="setDay('wednesday')">Wednesday</p>
        <p id="b4" (click)="setDay('thursday')">Thursday</p>
        <p id="b5" (click)="setDay('friday')">Friday</p>
        <p id="b6" (click)="setDay('saturday')">Saturday</p>
        <p id="b7" (click)="setDay('sunday')">Sunday</p>
        <p id="b8" (click)="setDay('everyday')">Everyday</p>
      </div>
  </div>
</div>

<div id = "dropDeliverContainer">
  <div class="dropDeliverClass">
    <button (click)="myFunction3()" id="dropDeliverButton">Deliver?</button>
      <div id="dropDeliver" class="dropDeliver-content">
        <input type="text" placeholder="Search.." id="deliverInput" (keyup)="filterFunction()">
        <p id="c0" (click)="setDeliver('any')">Clear</p>
        <p id="c1" (click)="setDeliver('true')">Yes</p>
        <p id="c2" (click)="setDeliver('false')">No</p>
      </div>
  </div>
</div>

<div id = "resetButton">
  <button (click)="filterReset()" class="resetB">Reset Filter</button>
</div>




  <button (click)="filterTag()" class="button">stuff</button>


<!--
<div id="postReq">

  <p>Offer: </p> <input id = "offer" type = "text">
  <p>Name: </p> <input id = "name" type = "text" >
  <p>Address: </p> <input id = "address" type = "text">
  <p>Day: </p> <input id = "day" type = "text">
  <p>Time: </p> <input id = "time" type = "text">
  <p>Description: </p> <input id = "description" type = "text">
  <p>Deliver: </p>  <input id = "deliver" type = "text">
  <p>Link: </p> <input id = "link" type = "text">
  <p>Recurring: </p> <input id = "recurring" type = "text">


  <button (click)='postDeal()'> POST </button>
  <button (click)='putDeal()'> PUT </button>
  <button (click)='deleteDeal()'> DELETE </button>

</div>
-->

