
<div id="dealDeets">
<p>Offer: <input id = "offer" type = "text" readonly> </p>
<p>Name: <input id = "name" type = "text" readonly>  </p>
<p>Address: <input id = "address" type = "text" readonly> </p>
<p>Day: <input id = "day" type = "text" readonly> </p>
<p>Time: <input id = "time" type = "text" readonly> </p>
<p>Description: <input id = "description" type = "text" readonly> </p>
<p>Deliver: <input id = "deliver" type = "text" readonly> </p>
<p>Link: <input id = "link" type = "text" readonly > </p>
<p>Recurring: <input id = "recurring" type = "text" readonly> </p>
<p>Tags: <input id="tags" type="text" readonly > </p>
</div>

<div id="dealMod">
<button>Edit</button>
<button>Delete</button>
</div>