<button (click)='redirect();' class="redirectbutton"> BACK </button>

<div id = "background">
   
  <div id="postReq">
      
      
        <p>Offer:  <input id = "offer" type = "text"> </p>                    
  
        <div id="cat">Category: <!--<div id="dropdownDiv">test</div> -->

            <select id="myDropdown" class="dropdown-content" ng-change="onEvent($event)" multiple>
                <!-- <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()"> -->
                <option id="a1" (click)="onEvent($event)">Alcohol</option>
                <option id="a2" (click)="onEvent($event)">Burgers</option>
                <option id="a3" (click)="onEvent($event)">Pizza</option>
                <option id="a4" (click)="onEvent($event)">Sushi</option>
                <option id="a5" (click)="onEvent($event)">Mexican</option>
                <option id="a6" (click)="onEvent($event)">Chinese</option>
                <option id="a7" (click)="onEvent($event)">Indian</option>
                <option id="a8" (click)="onEvent($event)">Japanese</option>
                <option id="a9" (click)="onEvent($event)">Wings</option>
                <option id="a10" (click)="onEvent($event)">Shakes</option>
                <option id="a11" (click)="onEvent($event)">Sandwiches</option>
                <option id="a12" (click)="onEvent($event)">American</option>
                <option id="a13" (click)="onEvent($event)">Salad</option>
                <option id="a14" (click)="onEvent($event)">Italian</option>
                <option id="a15" (click)="onEvent($event)">Calzones</option>
                <option id="a16" (click)="onEvent($event)">Dessert</option>
                <option id="a17" (click)="onEvent($event)">Pasta</option>
                <option id="a18" (click)="onEvent($event)">Other</option>
            </select>
            
        </div>
        
  
        <!-- <div id = "dropdownAndTags">
            
                   <div class="dropdown"> 
                     <button (click)="myFunction()" class="dropbtn">Categories</button> 
                       
                          </div>
              
                          <select id="was myDropdown" class="dropdown-content">
                              <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
                              <option id="a1" (click)="onEvent($event)">Alcohol</option>
                              <option id="a2" (click)="onEvent($event)">Burgers</option>
                              <option id="a3" (click)="onEvent($event)">Pizza</option>
                              <option id="a4" (click)="onEvent($event)">Sushi</option>
                              <option id="a5" (click)="onEvent($event)">Mexican</option>
                              <option id="a6" (click)="onEvent($event)">Chinese</option>
                              <option id="a7" (click)="onEvent($event)">Indian</option>
                              <option id="a8" (click)="onEvent($event)">Japanese</option>
                              <option id="a9" (click)="onEvent($event)">Wings</option>
                              <option id="a10" (click)="onEvent($event)">Shakes</option>
                              <option id="a11" (click)="onEvent($event)">Sandwiches</option>
                              <option id="a12" (click)="onEvent($event)">American</option>
                              <option id="a13" (click)="onEvent($event)">Salad</option>
                              <option id="a14" (click)="onEvent($event)">Italian</option>
                              <option id="a15" (click)="onEvent($event)">Calzones</option>
                              <option id="a16" (click)="onEvent($event)">Dessert</option>
                              <option id="a17" (click)="onEvent($event)">Pasta</option>
                              <option id="a18" (click)="onEvent($event)">Other</option>
                          </select>
                            </div> -->
  
        <p>Name:   <input id = "name" type = "text" > </p>
        <p>Address: <input id = "address" type = "text"> </p>
        <div id="day">Day: <!--<div id="dropdownDiv">test</div> -->
        
                    <select id="myDropdownD" class="dropdown-content" ng-change="pickDays($event)" multiple>
                        <!-- <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()"> -->
                        <option id="d1" (click)="pickDays($event)">Monday</option>
                        <option id="d2" (click)="pickDays($event)">Tuesday</option>
                        <option id="d3" (click)="pickDays($event)">Wednesday</option>
                        <option id="d4" (click)="pickDays($event)">Thursday</option>
                        <option id="d5" (click)="pickDays($event)">Friday</option>
                        <option id="d6" (click)="pickDays($event)">Saturday</option>
                        <option id="d7" (click)="pickDays($event)">Sunday</option>
                        <option id="d8" (click)="pickDays($event)">Everyday</option>

                    </select>
                    
                </div>
        
        <p>Time:  <input id = "time" type = "text"> </p>
     
        <p>Description:  <input id = "description" type = "text"> </p>
        <p>Deliver:   <input id = "deliver" type = "text"> </p>
        <p>Link:  <input id = "link" type = "text"> </p>
        <p>Recurring:  <input id = "recurring" type = "text"> </p>    
  
        
  
      
        <button (click)="makePostPopUp()" class="postbtn"> POST </button>

        
      
  

                      </div>

                      <div id = "postPopup" class="popup">
                          <h2>Confirmation</h2>
                              <a class="close" (click) = "makepostPopUp()">&times;</a>
                              <div> Are you sure you want to save your changes?</div>
                              <br>
                          <button id = "postPopupButton" class="popupButton" (click) = "postDeal();redirect();" href = "#">Yes I'm Sure</button>
                      </div>

                     
  
      </div>



    
  
      
   
  
  
  